header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #150d31;
  padding: 7px 16px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1100;
}

header .logo {
  width: 86px;
}

.header__left-block {
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: #FFFFFF;
  font-weight: bold;
}
