.likes {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 49px;
  height: 20px;
  background: #6d45ff;
  border-radius: 9px;
  justify-content: center;
  gap: 4px;
}

.likes img {
  width: 12px;
  height: 12px;
  object-fit: cover;
}

.likes__quantity {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: normal;
  display: flex;
  align-items: center;
  color: #ffffff;
}
